.Button {
  padding: 15px 35px 5px;
  border-radius: 5px;
  background: $button-white;
  color: $text-dark;
  font-family: "Yanone Kaffeesatz";
  letter-spacing: 0.11em;
  font-size: 1.5rem;
  margin: 40px auto;
  font-weight: 900;
<<<<<<< HEAD
=======

  &:disabled {
    background: #d7837f;
  }
>>>>>>> 32a3b58d16bd5d29b9c779922ba30fb7e308dd48
}

.PrimaryButton {
  background: $button-red;
  color: $button-white;
}
