*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

a,
.bottom-logo,
.information-text,
.text-spaced,
.text {
  font-family: "Alegreya Sans";
}

.hide {
  z-index: -1 !important;
}
