*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 62.5%;
}

a,
.bottom-logo,
.information-text,
.text-spaced,
.text {
  font-family: "Alegreya Sans";
}

.hide {
  z-index: -1 !important;
  opacity: 0;
  transition: all 0.25s 0.33s;
}

a {
  text-decoration: none;
  color: $text-blue;
}
