.Navbar {
  font-family: "Yanone Kaffeesatz";
  text-transform: uppercase;
  color: $titles-white;
  background: $headers-dark;
  position: relative;
  z-index: 5;
  display: flex;
  height: auto;
  padding: 15px 4% 5px 4%;

  @media (min-width: 700px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  &-text {
    width: 80%;
    &-company {
      font-size: 1.75rem;
      position: relative;
      top: 3px;
    }

    & > div:last-child {
      font-size: 1rem;
      letter-spacing: 0.05em;
      color: $titles-lightgray;
    }
  }
}
