.OAuthOptions {
  margin-top: 50px;
  p {
    display: flex;
    justify-content: center;
    margin: 15px 0;

    &:last-child {
      padding-bottom: 15px;
      justify-content: space-evenly;
      margin: 25px auto 0;
      padding-bottom: 125px;
    }
  }
  &-icons {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
    img {
      width: auto;
      height: 25px;
    }

    div {
    }
  }
}
