.Page {
  background: $background-white;
}

.LoginPage,
.SignUpPage {
  p {
    font-size: 0.95rem;
    font-family: "Alegreya Sans";
    letter-spacing: 0.03em;
    padding: 0 15px;
  }
<<<<<<< HEAD

  &-OAuth-options {
    margin-top: 50px;
    p {
      display: flex;
      justify-content: center;
      margin: 15px 0;

      &:last-child {
        padding-bottom: 15px;
        justify-content: space-evenly;
        margin: 25px auto 0;
        padding-bottom: 125px;
      }
    }
  }

  &-OAuth-icons {
    width: 80%;
    margin-top: 25px;
    img {
      width: auto;
      height: 25px;
    }
  }
=======
>>>>>>> 32a3b58d16bd5d29b9c779922ba30fb7e308dd48
}
