.Page {
  background: $background-white;
}

.LoginPage,
.SignUpPage,
.DonatePage {
  p {
    font-size: 0.95rem;
    font-family: "Alegreya Sans";
    letter-spacing: 0.03em;
    padding: 0 4%;

    @media (min-width: 700px) {
      padding: 0 10%;
    }
  }
}

.BrowsePage {
  font-family: "Yanone Kaffeesatz";

  .browse-controls {
    display: flex;
    justify-content: flex-end;
    padding: 0 4%;
    margin-bottom: 15px;
    @media (min-width: 700px) {
      padding: 0 10%;
    }
  }

  .filter-control {
    flex-grow: 2;
    justify-content: center;
    display: flex;

    & > p {
      margin: auto 0;
      font-size: 1rem;
    }
  }

  .Projects {
    padding: 0 4%;
    color: $text-gray;
    & > div {
      display: flex;
      font-size: 0.6rem;
      margin-bottom: 15px;

      & > .text-container {
        padding: 10px 5% 0;
        letter-spacing: 0.08em;
      }
    }

    .text-container-title {
      font-size: 1.1rem;
      letter-spacing: 0.1em;
      font-weight: 600;
      color: black;
    }
  }
}
