.Page {
  background: $background-white;
}

.LoginPage {
  p {
    font-size: 0.7rem;
    font-family: "Alegreya Sans";
    letter-spacing: 0.03em;
    padding: 0 15px;
  }

  &-OAuth-options {
    margin-top: 15px;
    p {
      display: flex;
      justify-content: center;
      margin: 10px 0;

      &:last-child {
        padding-bottom: 15px;
        justify-content: space-evenly;
        margin: 0 auto;
      }
    }
  }

  &-OAuth-icons {
    width: 80%;
    img {
      width: auto;
      height: 25px;
    }
  }
}
