.SideDrawer {
  &-Button {
<<<<<<< HEAD
    width: 13%;
    height: 4vh;
=======
    width: 45px;
    height: 4.25vh;
>>>>>>> 32a3b58d16bd5d29b9c779922ba30fb7e308dd48
    border: 2px solid $button-white;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;

    & div {
      width: 85%;
      height: 2px;
      background: $background-white;
    }
  }

  &-Menu {
    justify-content: flex-end;

    .Modal {
      width: 60%;
      height: 60vh;
      top: 70px;
      transition: all 1s;
      transform: translateX(0px);
    }

    &.hide .Modal {
      transition: all 1s;
      transform: translateX(500px);
    }

    &-link {
      font-size: 1.5rem;
      padding: 12px;

      &.auth-link {
        background: $background-pink;

        &:first-child {
          border-radius: inherit;
          border-bottom-right-radius: unset;
          border-bottom-left-radius: unset;
        }
      }
    }
  }
}
