$background-pink: #ff9d9d;
$background-white: #ffffff;
$background-gray: #484544;

$button-red: #ff2222;
$button-pink: #d7837f;
$button-white: #ffffff;
$button-gray: #7e7672;
$button-lightgray: #d8d6d5;
$button-dark: #232b2b;

$icon-blue: #2881d2;
$icon-gray: #7e7672;
$icon-dark: #484544;

$headers-dark: #232b2b;
$headers-gray: #919797;
$headers-white: #ffffff;

$titles-dark: #484544;
$titles-gray: #7e7672;
$titles-white: #ffffff;
$titles-lightgray: #d8d6d5;

$text-gray: #7e7672;
$text-dark: #484544;
$text-blue: #2881d2;
$text-red: #ff2222;
